// do not forget to connect the auto prefixer
.n,
.h,
.hide,
.hidden {
  display: none;
}

.o-0 {
  opacity: 0;
}
.o-01 {
  opacity: .1;
}
.o-02 {
  opacity: .2;
}
.o-03 {
  opacity: .3;
}
.o-05 {
  opacity: .5;
}
.o-07 {
  opacity: .7;
}
.o-08 {
  opacity: .8;
}
.o-09 {
  opacity: .9;
}
.o-1 {
  opacity: 1;
}

.pr {
  position: relative;
}
.pa {
  position: absolute;
}

.z-9,
.zi-9 {
  z-index: 9;
}
.z-99,
.zi-99 {
  z-index: 99;
}
.z-999,
.zi-999 {
  z-index: 999;
}
.z-999-,
.zi-999- {
  z-index: -999;
}

.d-b {
  display: block;
}
.d-ib {
  display: inline-block;
}
.d-i {
  display: inline;
}
.f {
  display: flex;
}
.g {
  display: grid;
}
.l-c {
  align-items: center;
  justify-content: left;
}
.jc-sb {
  justify-content: space-between;
}
.ac-sb {
  align-content: space-between;
}